/* App.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  z-index: 100;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: color 0.2s;
}

.navbar-link:hover {
  color: #fff;
}

.content-container {
  padding-top: 60px; 
}

.library-books-container {
  margin-top: 100px; /* Adjust the margin-top value as needed */
}
